body {
  font-family: "Montserrat", sans-serif;
  color: black;
  /* cursor: pointer; */
}
.min-height {
  min-height: 100vh;
}
.title-text {
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.menu-text {
  font-weight: 500;
  line-height: 2em;
  font-size: 18px;
  color: white;
}
.capitalized-text {
  text-transform: capitalize;
}
.main-container {
  background-image: url("../images/background.png");
  position: relative;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  z-index: 2;
}
.main-container::before {
  z-index: -1;
  content: "";
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 55%,
    rgba(255, 0, 0, 0)
  );
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.back-button {
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .main-container {
    background-size: cover;
  }

  .main-container::before {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9) 55%,
      rgba(255, 0, 0, 0)
    );
  }

  .inner-container {
    width: 99%;
  }

  .title-text {
    font-size: 18px;
  }
  .menu-text {
    font-size: 14px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
  height: 20px;
}
