<!-- HEADER  -->
<%- include('./partial/header.ejs')%>

<div class="main-container container-fluid py-5 min-height">
  <div class="row">
    <div
      class="add-book-container d-flex flex-column align-items-center justify-content-center col-6"
    >
      <div class="title-container mb-5">
        <h2 class="title-text">add new book information</h2>
      </div>
      <div class="form-container">
        <form action="/addnewbook" method="post">
          <!-- BOOK NAME  -->
          <div class="mb-4">
            <label for="bookName" class="form-label capitalized-text">
              * book's name</label
            >
            <input
              type="text"
              class="form-control"
              id="bookName"
              name="bookName"
            />
          </div>
          <!-- AUTHOR  -->
          <div class="mb-4">
            <label for="authorName" class="form-label capitalized-text">
              *author's name</label
            >
            <input
              type="text"
              class="form-control"
              id="authorName"
              name="authorName"
            />
          </div>
          <!-- EDITOR  -->
          <div class="mb-4">
            <label for="editorName" class="form-label capitalized-text">
              *editor's name</label
            >
            <input
              type="text"
              class="form-control"
              id="editorName"
              name="editorName"
            />
          </div>
          <!-- PUBLISHER  -->
          <div class="mb-4">
            <label for="publisherName" class="form-label capitalized-text">
              *publisher's name</label
            >
            <input
              type="text"
              class="form-control"
              id="publisherName"
              name="publisherName"
            />
          </div>
          <!-- EDITION  -->
          <div class="mb-4">
            <label for="edition" class="form-label capitalized-text">
              * edition</label
            >
            <input
              type="text"
              class="form-control"
              id="edition"
              name="edition"
            />
          </div>
          <!-- CATEGORY  -->
          <div class="mb-4">
            <label for="category" class="form-label capitalized-text">
              *category</label
            >
            <input
              type="text"
              class="form-control"
              id="category"
              name="category"
            />
          </div>
          <!-- PUBLICATION DATE  -->
          <div class="mb-4">
            <label for="publish" class="form-label capitalized-text">
              *published year</label
            >
            <input
              type="text"
              class="form-control"
              id="publish"
              name="publish"
            />
          </div>
          <!-- QUANTITY  -->
          <div class="mb-4">
            <label for="quantity" class="form-label capitalized-text">
              *quantity</label
            >
            <input
              type="text"
              class="form-control"
              id="quantity"
              name="quantity"
            />
          </div>
          <!-- COONDITION  -->
          <div class="mb-4">
            <label for="condition" class="form-label capitalized-text">
              *condition</label
            >
            <input
              type="text"
              class="form-control"
              id="condition"
              name="condition"
            />
          </div>
          <!-- STATUS  -->
          <div class="mb-4">
            <label for="status" class="form-label capitalized-text">
              status</label
            >
            <input type="text" class="form-control" id="status" name="status" />
          </div>
          <!-- NOTES  -->
          <div class="mb-4">
            <label for="notes" class="form-label capitalized-text">
              notes</label
            >
            <input type="text" class="form-control" id="notes" name="notes" />
          </div>
          <!-- BOOK IMAGE  -->
          <div class="mb-4">
            <label for="avater " class="form-label capitalized-text">
              upload book's image</label
            >
            <input type="file" class="form-control" id="avater" name="avater" />
          </div>
          <!-- BUTTONS  -->
          <button type="submit" class="btn btn-dark capitalized-text">
            submit
          </button>
          <button type="button" class="btn btn-primary capitalized-text">
            <a href="/book" class="text-light"
              ><i class="fa-solid fa-arrow-left"></i
              ><span class="back-button">back</span></a
            >
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER  -->
<%- include('./partial/footer.ejs')%>
